<app-nav></app-nav>

<div class="max-w-2xl mx-auto p-6">
  <mat-card class="p-6">
    <mat-card-header>
      <mat-card-title class="text-2xl font-bold">問卷標題: {{quiz[0]?.title}}</mat-card-title>
      <mat-card-subtitle>
        <div class="mb-2">描述: {{quiz[0]?.description}}</div>

        <div class="flex flex-wrap gap-4 text-sm text-gray-600">
          <span class="flex items-center">
            <mat-icon class="text-base h-4 w-4 mr-1">event</mat-icon>
            活動期間：{{quiz[0]?.startDate }} ~ {{quiz[0]?.endDate }}
          </span>
          <span class="flex items-center">
            <mat-icon class="text-base h-4 w-4 mr-1">assignment</mat-icon>
            題目總數：{{question.length}} 題
          </span>
        </div>

        <mat-divider class="my-2"></mat-divider>
        <p class="mt-2 text-blue-600 font-medium italic">請填寫以下資訊：</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider class="my-4"></mat-divider>

    <form class="flex flex-col gap-8">
      @for (item of question; track item.questionId; let i = $index) {
      <div class="question-container">
        <p class="font-semibold mb-3 text-lg">
          {{ i + 1 }}. {{ item.question }}
          @if (item.required) {
          <span class="text-red-500">*</span>
          }
        </p>

        @if (item.type === 'TEXT') {
        <mat-form-field class="w-full">
          <mat-label>您的回答</mat-label>
          <input matInput [name]="'q-' + item.questionId" [(ngModel)]="answers[item.questionId]" placeholder="請輸入內容">
        </mat-form-field>
        }

        @if (item.type === 'SINGLE') {
        <mat-radio-group [name]="'q-' + item.questionId" [(ngModel)]="answers[item.questionId]"
          class="flex flex-col gap-2">
          @for (option of item.optionsList; track option) {
          <mat-radio-button [value]="option">{{ option }}</mat-radio-button>
          }
        </mat-radio-group>
        }

        @if ( item.type === 'MUTI') {
        <div class="grid grid-cols-1 gap-2">
          @for (option of item.optionsList; track option) {
          <mat-checkbox [value]="option" [checked]="answers[item.questionId]?.includes(option)"
            (change)="onCheckboxChange(item.questionId, option, $event.checked)">{{ option }}</mat-checkbox>
          }
        </div>
        }
      </div>

      @if (!$last) {
      <mat-divider class="my-4"></mat-divider>
      }
      }

      <button mat-raised-button color="primary" type="submit" class="w-full mt-4" (click)="preview()">
        送出問卷
      </button>
    </form>
  </mat-card>
</div>